*{background:#62D2A2; font-family: 'Montaga';
font-style: normal;
font-weight: 400;
font-size: 24px;}
#firsttable {
	border-collapse: collapse;
margin-left: 250px;
align-items: center;
	border:5px solid #1FAB89;}

#secondtable {
border-collapse: collapse;
    margin-left: 250px;
    align-items: center;
    	border:5px solid #1FAB89;}

.header
{
border-collapse: collapse;
font-family: 'Montserrat';
font-style: normal;
font-size: 32px;
align-items: center;
color: #000000;
border: 2px solid black;

}
#weatherapi
{
margin-top: 50px;
margin-left: 250px;
font-family: 'Montaga';
font-style: italic;
font-size: 24px;
color: #1FAB89;
}
#weatherbit
{
margin-top: 100px;
margin-left: 250px;
font-family: 'Montaga';
font-style: italic;
font-size: 24px;
color: #1FAB89;
}
th {border-collapse: collapse;
border: 1px solid black;
 }
#allDB
{
width: 300px;
height: 68px;
margin-left: 450px;
margin-top: 120px;
background: #1FAB89;
border-radius: 35px;
font-family: 'Manuale';
font-style: normal;
text-decoration: none;
font-weight: 500;
font-size: 24px;
line-height: 57px;
border: none;
cursor: pointer;
color: #FAFAFA;
padding: 5px 11px;
}
#home
{
width: 300px;
height: 68px;
margin-left: 350px;
margin-top: 120px;
background: #1FAB89;
border-radius: 35px;
font-family: 'Manuale';
text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 57px;
border: none;
cursor: pointer;
color: #FAFAFA;
padding: 5px 11px;
}
